.header {
  margin-bottom: 30px;
}

.container {
  max-width: 800px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.jumbotron {
  margin-top: 100px;
  text-align: center;
  border: 1px solid #e5e5e5;
  border-radius: 6px;
  padding: 10px;
}

.button-secondary {
  color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.button-xlarge {
  font-size: 125%;
}

.button-up {
  background: #ff5500;
  width: 70px;
}

.button-down {
  background: #bbb;
  width: 70px;
}

.bottom {
  padding-top: 20px;
}

.track-details {
  border-bottom: 1px solid #eee;
  padding-top: 25px;
  padding-bottom: 15px;
}

.track-details .fa {
  margin-right: 4px;
}

.tracks-details, a {
  color:inherit;
  text-decoration: none;
}

.track-title {
  margin-top: 10px;
}

.track-artist {
  color: #666;
  font-size: 15px;
}

.track-upvotes {
  float: right;
  margin-top: 10px;
  color: #888;
  font-size: 12px;
}

.track-favorited-time {
  float: right;
  margin-top: 0;
  color: #888;
  font-size: 13px;
}

.controls {
  margin-top: 20px;
  margin-bottom: 10px;
}

.controls button {
  margin: 5px;
}

.button-xlarge {
  font-size: 140%;
}

.trending-today {
  margin-left: 20px;
  color: #888;
  font-size: 24px;
  padding-bottom: 15px;
  border-bottom: 1px solid #eee;
}

.favorite-tracks, ul {
  padding-left: 20px;
  list-style-type: none;
}

.favorites-title {
  margin-left: 20px;
  color: #888;
  font-size: 24px;
  padding-bottom: 15px;
  border-bottom: 1px solid #eee;
}

.pull-right {
  float: right;
}

.profileImage {
  width: 30px;
  height: 30px;
  border-radius: 4px;
}
