.header {
    margin-bottom: 30px;
}

.container {
    max-width: 800px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.jumbotron {
    margin-top: 100px;
    text-align: center;
    border: 1px solid #e5e5e5;
    border-radius: 6px;
    padding: 10px;
}

.button-secondary {
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.button-xlarge {
    font-size: 125%;
}

.button-up {
    background: rgba(255, 85, 0, 0.9);
}

.button-down {
    background: #bbb;
}

.bottom {
    padding-top: 20px;
}

.track-details {
  border-bottom: 1px solid #eee;
  padding-top: 10px;
  padding-bottom: 10px;
}

.tracks-details, a {
  color:inherit;
  text-decoration: none;
}

.track-title {
  margin-top: 10px;
}

.track-artist {
  color: #666;
  font-size: 15px;
}

.track-upvotes {
  float: right;
  margin-top: 10px;
  color: #888;
  font-size: 12px;
}

.fa {
    margin-right: 4px;
}

.trending-today {
  margin-left: 20px;
  color: #888;
  font-size: 24px;
  padding-bottom: 15px;
  border-bottom: 1px solid #eee;
}

.favorites-title {
  margin-left: 20px;
  color: #888;
  font-size: 24px;
  padding-bottom: 15px;
  border-bottom: 1px solid #eee;
}